/* ---------------------------main-section------------------------ */

.main-section {
    padding: 25px 0;

    .content {
        display: flex;
        justify-content: space-between;
        column-gap: 50px;
        row-gap: 30px;

        @include media('<desktop') {
            flex-direction: column;
        }
    }

    .text-block {
        max-width: 45%;

        @include media('<widescreen') {
            max-width: 100%;
        }
    }

    .main-title,
    .main-sub-title {
        line-height: 0.84;
        margin: 0;

        @include adaptive-value("font-size", 347, 150, 1);

        @include media('<desktop') {
            @include adaptive-value("font-size", 647, 170, 1);
        }
    }

    .main-title {
        margin-bottom: 10px;

        @include media('<desktop') {
            text-align: center;
        }

        @include media('<tablet') {
            text-align: start;
        }
    }

    .main-sub-title {
        border-top: 3px solid $white;
        border-bottom: 3px solid $white;
        color: $yellow_32;
        padding-bottom: 5px;
    }

    .main-sub-title-box {
        display: flex;
        align-items: flex-start;
        gap: 30px;

        @include media('<desktop') {
            justify-content: center;
        }

        @include media('<tablet') {
            justify-content: start;
            gap: 10px;
        }
    }

    .text {
        width: 34%;
        max-width: 226px;
        min-width: 226px;
        padding: 10px 0;
        text-align: justify;
        line-height: 1.2;

        @include media('<widescreen_s') {
            font-size: 20px;
        }

        @include media('<tablet') {
            min-width: 0;

            @include adaptive-value("font-size", 23, 14, 1);
        }

        @include media('<phone') {
            padding: 0;
            width: 100%;
        }
    }

    .img-block {
        max-width: 53%;
        display: flex;
        flex-direction: column;
        gap: 23px;

        @include media('<widescreen') {
            max-width: 45%;
        }

        @include media('<desktop') {
            max-width: 100%;
        }
    }

    .sub-title {
        line-height: 1.13;
        letter-spacing: 0.04em;
        margin: 0;

        @include media('<widescreen_s') {
            font-size: 38px;
        }

        @include media('<tablet') {
            font-size: 32px;
        }

        span {
            position: relative;

            &::before,
            &::after {
                content:'';
                position: absolute;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $yellow_32;
            }

            &::before {
                top: 7px;             
            }

            &::after {
                bottom: 5px;
            }
        }
    }

    .sub-title-sec {
        margin-bottom: 50px;
    }

    .icon {
        width: 21px;
        transform: translate(-30px, 10px);

        @include media('<desktop') {
            transform: translate(0, 7px);
        }
    }

    .img-wrap {

        @include media('<desktop') {
            order: -1;
        }
    }
}

/* --------------------------quarter-section---------------------- */

.quarter-section {

    .content {
        display: flex;
        flex-direction: column;
        background-color: $gray_37;
        box-shadow: $box_shadow_base;
        overflow: hidden;
        padding-right: 30px;

        @include media('<desktop') {
            padding: 0;
        }
    }

    .btn-wrap {
        display: flex;
        gap: 10px;
        padding: 5px 16px 14px 16px;
        margin: 0 auto;
        background-color: $black;
        box-shadow: 
            3.3px 3.3px 8px rgba($white, .25),
            -3.3px 0 8px rgba($white, .25);
    }

    .block {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        padding-top: 150px;

        @include media('<widescreen') {
            padding-top: 65px;
        }

        @include media('<desktop') {
            grid-template-columns: 1fr;
            order: 2;
        }
    }

    .img-block {
        grid-row: span 2;
        display: flex;
        align-items: flex-end;

        @include media('<desktop') {
            grid-row: span 1;
            order: 2;
            border-bottom: 2px solid $yellow_32;
        }

        img {
            @include media('<desktop') {
                max-width: 70%;
            }
        }
        
    }

    .title-box {
        display: flex;
        align-items: flex-end;
        gap: 20px;

        @include media('<desktop') {
            padding: 0 35px;
        }
    }

    .title {
        max-width: 400px;
        font-size: 224px;
        line-height: 0.85;
        margin: 0;

        b {
            position: relative;
            display: inline-block;

            &::before,
            &::after {
                content:'';
                position: absolute;
                left: 0;
                width: 100%;
                height: 3px;
                background-color: $white;
            }

            &::before {
                top: 5px;
            }

            &::after {
                bottom: -20px;
            }
        }
    }

    .text-wrap {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .stiker {
        width: 100%;
        max-width: 220px;
        min-width: 220px;
        padding: 14px 20px 8px 20px;
        background-color: $gray_61;
        box-shadow: $box_shadow_base;

        @include media('<desktop') {
            min-width: 0;
        }
    }

    .text {
        text-align: justify;
    }

    .title-box-sec {
        padding: 80px 0;
        margin-left: auto;
        gap: 45px;

        @include media('<desktop') {
            order: 3;
            padding: 35px 35px 80px 35px;
            margin: 0;
        }

        .text-wrap {
            max-width: 150px;
        }

        .title {
            position: relative;
            display: inline-block;

            &::before,
            &::after {
                content:'';
                position: absolute;
                left: 0;
                width: 100%;
                height: 3px;
                background-color: $yellow_32;
            }

            &::before {
                top: 5px;
            }

            &::after {
                bottom: -5px;
            }
        }
    }

    .sup-title {
        font-size: 41px;
        font-weight: $regular;
        color: $yellow_32;
        margin-bottom: 5px;
    }

    .icon {
        width: 21px;
    }
}

/* -------------------------accordion-section--------------------- */

.accordion-section {
    padding: 30px 0;

    .accordion {
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        counter-reset: my-awesome-counter;
    }

    .accordion-item {
        position: relative;
        counter-increment: my-awesome-counter;
        margin-bottom: -4px;

        &::before {
            content: counter(my-awesome-counter) ". ";
            position: absolute;
            top: 30px;
            left: 25px;
            border-top: 1px solid $yellow_32;
            border-bottom: 1px solid $yellow_32;
            font: 500 27px/1 $Galgo;
            letter-spacing: 0.04em;
        }

        &:nth-child(-n+9){

            &::before {
                content: "0" counter(my-awesome-counter) ". ";
            }
        }

        &:last-child {

            &::before {
                display: none;
            }

            .accordion-text-box {
                min-height: 50vh;
            }

            .accordion-content {
                justify-content: flex-start;
            }
        }

        &:nth-child(even) {

            .accordion-content {
                flex-direction: row-reverse;
            }
        }

        &.open {
            .accordion-header {
                max-height: 200px;
            }

            .accordion-content {
                margin-bottom: 30px;
            }
        }
    }

    .accordion-header {
        position: relative;
        width: 100%;
        max-height: 70px;
        min-height: 70px;
        padding: 20px 27px 0 50px;
        background: none;
        border: none;
        border-top: 2px solid $yellow_32;
        text-align: left;
        cursor: pointer;
        overflow: hidden;
        transition: $anim_03;

        &::before,
        &::after {
            content:'';
            position: absolute;
            top: 0;
            height: 56px;
            width: 2px;
            background-color: $yellow_32;
        }

        &::before {
            left: 0;
        }

        &::after {
            right: 0;
        }

        &:hover {
            .accordion-title {
                color: $yellow_32;
            }
        }
    }

    .accordion-title {
        font-size: 116px;
        line-height: 0.84;
        margin-bottom: 50px;
        transition: $anim_03;
    }

    .accordion-content {
        max-height: 0;
        display: flex;
        justify-content: flex-end;
        gap: 110px;
        padding: 0 27px 0 50px;
        overflow: hidden;
        transition: $anim_03;
    }

    .accordion-text-box {
        max-width: 310px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .accordion-last-text-box {
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .text {
        position: relative;
        text-align: justify;

        b {

            &::before {
                content:'';
                position: absolute;
                width: 13px;
                height: 16px;
                top: 4px;
                left: -30px;
                background: url(../images/icons/arrow.svg) 0 0/ 13px 16px no-repeat;
            }
        }
    }

    .last-title {
        margin: 0;
        font-size: 116px;
        line-height: 0.84;
    }
}