<div class="modal modal-slide">
  <button class="overflow modal-slide-overflow"></button>
  <div class="content modal-slide-content">
    <div class="wrap modal-slide-wrap">
      <img class="logo" src="./images/icons/heritage-logo.svg" alt="img">
      <div class="slider-wrap">
        <div class="def-arrow def-prev modal-slide-arrow modal-slide-prev"></div>
        <div class="swiper modalSlideSlider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="item">
                <p class="text">Але почали свою роботу у будівництві ми ще задовго, до створення компанії, зокрема, виконували проєкти з реставрації <br> Сьогодні наша робота зосереджена на з основних напрямах:</p>
                <h3 class="item-title"></h3>
                <ul class="item-list">
                  <li class="item-list-point">
                    <img class="icon" src="./images/icons/arrow.svg" alt="icon">
                    <p class="text">будівництво житлових будинків</p>
                  </li>
                  <li class="item-list-point">
                    <img class="icon" src="./images/icons/arrow.svg" alt="icon">
                    <p class="text">реставрація історичних будівель</p>
                  </li>
                  <li class="item-list-point">
                    <img class="icon" src="./images/icons/arrow.svg" alt="icon">
                    <p class="text">виконання будівельних робіт на замовлення</p>
                  </li>
                </ul>
                <h2 class="item-title title-lines white">Будуємо, щоб з гордістю залишити у спадок</h2>
                <p class="stiker text">Наша компанія відзначається своїм прагненням до високої якості, інновацій та відкритої комунікації з клієнтами</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="item">
                <p class="text">Раніше наша компанія мала назву — SBDevelopment, <br> але розширюючись, ми відчули потребу у ребрендингу</p>
                <h3 class="item-title">Тому тепер ми — <b>Heritage</b></h3>
                <ul class="item-list">
                  <li class="item-list-point">
                    <img class="icon" src="./images/icons/arrow.svg" alt="icon">
                    <p class="text">HERITAGE - з АНГЛІЙСЬКОЇ «СПАДОК» Назва підкреслює основну нашу місію:</p>
                  </li>
                </ul>
                <h2 class="item-title title-lines white">Будуємо, щоб з гордістю залишити у спадок</h2>
                <p class="stiker text">Наші будинки в центрі міста - це не просто нерухомість, а справжній спадок для вас і ваших близьких</p>
              </div>
            </div>
          </div>
        </div>
        <div class="def-arrow def-next modal-slide-arrow modal-slide-next"></div>
      </div>
      <div class="def-pag modal-slide-pag"></div>
    </div>
    <button class="btn-close modal-slide-close"></button>
  </div>
</div>