html {

    * {
        font-family: $HeadingNowTrial;
    }
}

.body_lock {
  overflow: hidden;
}

#wrapper {
    position: relative;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1610px;
    padding: 0 30px;
    margin: 0 auto;

    @include media('<phone') {
        padding: 0 25px;
    }
}

b {
    font-weight: inherit;
    color: $yellow_32;
}

.title-lines {
    position: relative;
    display: inline-block;
    font-size: 116px;
    line-height: 0.84;
    margin: 0;
    padding: 7px 0 11px 0;
    border-top: 3px solid;
    border-bottom: 3px solid;

    &.yellow {
        color: $yellow_32;
        border-color: $white;
    }

    &.white {
        color: $white;
        border-color: $yellow_32;
    }
}

.text {
    margin: 0;
    text-align: justify;

    @include media('<phone') {
        font-size: 12px;
    }
}

.btn {
    position: relative;
    padding: 2px 5px;
    border: none;
    text-transform: uppercase;
    font-weight: $medium;
    font-size: 41px;
    line-height: 1;
    transition: $anim_03;

    @include media('<phone') {
        font-size: 17px;
    }

    &::before,
    &::after {
        content:'';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 2px;
        transition: $anim_03;
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }

    &.primary {
        background-color: $yellow_32;
        color: $black;

        &::before,
        &::after {
            background-color: $white;
        }
    }

    &:hover {
        &::before,
        &::after {
            width: 0;
        }
    }
}

.modal-doc {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 5;

    &.modal-doc_active {
        display: block;
    }

    .modal-doc-overflow {
        position: absolute;
        width: 100%;
        height: 100vh;
        background: hsla(0, 0%, 0%, 0.9);
        z-index: 1;
        padding: 0;
        margin: 0;
        border: none;
    }

    .modal-doc-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
    }

    .modal-doc-wrap {
        max-width: max-content;
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 0 10px;
        margin: 0 auto;
        overflow-y: auto;
        overflow-x: hidden;

        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px transparent;
        }

        &::-webkit-scrollbar-thumb {
            background: $gray_61;
            border-radius: 30px;
            cursor: pointer;

            &:hover {
                background: $yellow_32; 
            }
        }
    }

    img {
        pointer-events: none;
    }

    .btn-close {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 0px;
        right: -50px;
        background: none;
        border: none;
        padding: 0;
        margin: 0;

        &::before,
        &::after {
            content:'';
            position: absolute;
            height: 3px;
            width: 100%;
            background-color: $yellow_32;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: $anim_03;
        }

        &::before {
            transform: translate(-50%, -50%) rotate(45deg);        
        }

        &::after {
            transform: translate(-50%, -50%) rotate(-45deg);           
        }

        &:hover {
            &::before,
            &::after {
                background-color: $white;
            }
        }
    }
}