@font-face {
    font-family: "Galgo";
    src: url("../fonts/Galgo.otf");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Heading Now Trial";
    src: url("../fonts/HeadingNowTrialRegular.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Heading Now Trial";
    src: url("../fonts/HeadingNowTrialMedium.ttf");
    font-style: normal;
    font-weight: 500;
}