// Colors
// Color calculator - http://razorjam.github.io/sasscolourfunctioncalculator/
// Color names - http://name-of-color.com/

$black:     #000;

$white:     #fff;

$gray:      #ccc;
$gray_D9:   #D9D9D9;

$yellow_32: #FFD832;


$base-font-sans-serif: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
$base-font-serif: 'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;
$HeadingNowTrial: 'Heading Now Trial', $base-font-sans-serif;

// This is the default html and body font-size for the base rem value.
$rem-base: 16px;

// Body
$base-text-color: $white !default;
$base-background-color: $black !default;
$font-size-base: 23px !default;
$line-height-base: 1.02 !default;
$base-font-family: $base-font-sans-serif !default;

$vertical-rhythm: (
    $line-height-base * 1em
);

$base-min-width: 320px;

// Liks
$base-link-color: $white;

// Buttons 
$btn-color: $white !default;
$btn-background: $black !default;
$btn-padding: 0.4em 0.7em !default;
$btn-font-size: inherit !default;

// Forms
$form-element-padding: $btn-padding !default;
$form-element-border-color: $gray !default;
$form-element-focus-border-color: $black !default;
$placeholder-color: $gray !default;

// Headers
$h1-font-size: 78px;
$h2-font-size: 41px;
$h3-font-size: 24px;
$h4-font-size: 22px;
$h5-font-size: 17px;
$h6-font-size: 15px;

$headings-font-family: $base-font-sans-serif;
$headings-color: inherit !default;


$anim_03: all .3s ease 0s;
$anim_05: all .5s ease 0s;
$anim_07: all .7s ease 0s;
$anim_1:  all 1s ease 0s;
$anim_2:  all 2s ease 0s;

$thin:        100;
$extra-light: 200;
$light:       300;
$regular:     400;
$medium:      500;
$semi-bold:   600;
$bold:        700;
$extra-bold:  800;
$heavy:       900;